div.shouts {
  background: #000;
  color: #fff;
  width: 600px;
  min-height: 500px;
  float: left;
  border: 0px solid gray;
}

div.shouts {
  background: #fff;
  color: #000;
  width: 600px;
  min-height: 40px;
  float: left;
  border: 0px solid gray;
}

div.shout {
  background: #fff;
  color: #000;
  width: 600px;
  min-height: 40px;
  float: left;
  border: 0px solid gray;
}

div.profile_area {
  background: #fff;
  color: #000;
  width: 55px;
  min-height: 60px;
  float: left;
  border: 0px solid gray;
}

div.prfile_photo {
  background: #fff;
  color: #000;
  width: 50px;
  min-height: 50px;
  float: left;
  border: 0px solid gray;
}

div.prfile_name {
  background: #fff;
  color: #000;
  width: 50px;
  min-height: 10px;
  float: left;
  border: 0px solid gray;
}

div.shout_area {
  background: #fff;
  color: #000;
  width: 550px;
  min-height: 60px;
  float: left;
  border: 0px solid gray;
}

div.shout_header {
  background: #fff;
  color: #000;
  width: 550px;
  min-height: 20px;
  float: left;
  border: 0px solid gray;
}

div.nickname {
  background: #fff;
  color: #000;
  font-size:10pt;
  width: 400px;
  min-height: 20px;
  float: left;
  border: 0px solid gray;
}

div.created_at {
  background: #fff;
  color: #000;
  font-size:10pt;
  width: 150px;
  min-height: 20px;
  float: left;
  border: 0px solid gray;
}

div.shout_body {
  background: #fff;
  color: #000;
  font-size:10pt;
  width: 550px;
  min-height: 20px;
  float: left;
  border: 0px solid gray;
}

div.shout_footer {
  background: #fff;
  color: #000;
  font-size:10pt;
  width: 550px;
  min-height: 20px;
  float: left;
  border: 0px solid gray;
}

div.fav_area {
  background: #fff;
  color: #000;
  width: 250px;
  min-height: 20px;
  float: left;
  border: 0px solid gray;
}

div.res_area {
  background: #fff;
  color: #000;
  width: 200px;
  min-height: 20px;
  float: left;
  border: 0px solid gray;
}

div.scat_area {
  background: #fff;
  color: #000;
  width: 200px;
  min-height: 20px;
  float: left;
  border: 0px solid gray;
}

div.already_folloed {
  background: #0000ff;
  color: #fff;
  width: 55px;
  height: 20px;
  float: left;
  border: 0px solid gray;

}

div.will_follow {
  background: #ff0000;
  color: #fff;
  width: 55px;
  height: 20px;
  float: left;
  border: 0px solid gray;
}
